<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style media="screen">
      .fa-sign-in-alt, .fa-sign-out-alt{
        color: #800080;
      }
      .btn-transparent{
        outline: none;
      }
      .pop{
          margin: 15px;
          cursor: pointer;
      }
      .border-line{
	     margin-top: 3rem;
   }
     /* body{
       display: grid;
       grid-template-rows: 1fr auto;

     } */
     html{
       position: relative;
       min-height: 100%;
     }
     .footer{
	     /* grid-row: 5/6; */
       position: absolute;
       width: 100%;
       bottom:0;
     }
     .list-inline li{
       display: inline-block;
     }
    </style>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!-- nav section -->
  <div class="outer-footer">

<div class="container-fluid myNav">
<nav class="navbar navbar-expand-md navbar-light bg-transparent ">
  <a class="navbar-brand" href="{{ url_for('page.blog_index') }}">Collection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('page.blog_index') }}">首页 <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        {% if current_user.is_authenticated %}
             <a target="_Blank" class="nav-link" href="{{ url_for('page.new') }}">发布</a>
        {% else %}
             <span class='pop' tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Collection" data-content="记录你自己的笔记，登录使用">发布</span>
        {% endif %}

      </li>
      <li class="nav-item">
        {% if current_user.is_authenticated %}
             <a target="_Blank" class="nav-link" href="{{ url_for('todo.index') }}">Todo</a>
        {% else %}
             <span class='pop' tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Todo" data-content=" 待办事项，登录使用">Todo</span>
        {% endif %}

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          分类
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a  class="dropdown-item" href='{{ url_for('page.blog_topic', sort_by="All", p=1)}}'>All</a>
          {% for topic in topics %}
          <a class="dropdown-item" href='{{ url_for('page.blog_topic', sort_by=topic.body, p=1)}}'>{{ topic.body }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('recipe.index') }}">施工中... </a>
      </li>
    </ul>

    <form action = '{{ url_for("page.blog_topic") }}'  class="form-inline  ">
      <input type="hidden" name="sort_by" value="search"/>
      <input class="form-control mr-sm-2" name='query' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success " type="submit">Search</button>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('user.logout') }}"> <button type="button" class='btn bg-transparent' name="button"><i class="fas fa-sign-out-alt"></i> 登出</button> </a>
      {% else %}
      <a href="{{ url_for('user.login') }}"> <button type="button" class='btn bg-transparent' name="button"><i class="fas fa-sign-in-alt"></i> 登录</button> </a>
      {% endif %}
    </form>


  </div>
</nav>
</div>
<div class="flash">

{% for message in get_flashed_messages() %}
   <div class='flash-alert text-center mx-auto'>
       {{ message }}
   </div>
{% endfor %}
</div>


  </div>
 <!--Section footer-->

<footer class="footer text-center">
    {% block pagination %}{% endblock %}
    <HR class='border-line' style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="100%" color=#f1f1f1 SIZE=1>
      <div class="container">
        <ul class="list-inline">
          <li class="text-muted">Collection &copy; 2019</li>
          <li><a href="{{ url_for('contact.contact_index') }}">Contact</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
 </footer>


{% block body %}

{% endblock %}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>
<!-- <script type="text/javascript">
  document.querySelector('.btn-transparent').addEventListener('click', function(){
    console.log('yes')
  })
</script> -->
  </body>
</html>
