[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
# Accept connections from any IP address
bind-address                = 0.0.0.0

# character-set-server=utf8mb4
# collation-server=utf8mb4_unicode_ci
# init_connect='SET NAMES utf8mb4'
# sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# [mysql]
# default-character-set=utf8mb4
