.myNav{
  padding: 1rem;
  background-color: #B1B2C4;
  margin-bottom: 1rem;

}

.myNav .nav-link {
  color: white !important;
}

.mytodo{
  width: 50%;
  height: 40px;
  margin-top: 15rem;
  margin-bottom: 3rem;
}


.lists{
  width: 50%;
  margin: auto;
}
.row{
  cursor: pointer;
}

.items:hover{
  background-color: #7ed6df;
  color: white;
}

.del{
  display: none;
}

.items:hover .del{
  display: block;
}

.finished{
  width: 50px;
  margin: auto;
  margin-top: 3rem;
}
