/*
@font-face {
font-family: 'NotoSansCJK-Light-3';
src: url('../fonts/SiYuanHeiTiGoogleBan/NotoSansCJK-Light-3.otf');
} */

body,html {
  margin: 0;
  padding: 0;

   }

   /*
* {
box-sizing: border-box;
} */
.my-pic{
  background-image: url('../pics/signup.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.form-box{
width: 100%;
height: 100vh;
overflow: hidden;
padding: 1rem;

}
/* linear-gradient(113.03326428095102deg, rgba(114, 55, 146,1) 5.014840798704803%,rgba(239, 173, 183,1) 97.6753912574204%) */
.form-inner h1{
   font-weight: 500;
   padding-bottom: 3rem;

}

.input-group{
  padding: 1rem;
}


.far, .fas{
font-size: 80%;
color: #864A98;
}

.myButton{
margin-top: 1rem;
border-radius: 18px;
background-color: #3399ff;
text-decoration: none;
width: 70%;
border: 1px solid;
border-color:#3399ff;
padding: 7px 13px;
display: inline-block;
color: white;
}
.new-pwd{
padding-left: 1rem;
}

.error{
  padding-left: 3rem;
}
