
{% extends 'blog_base.html' %}

{% block head %}
    <title>settings page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/blog/settings.css') }}">

<style media="screen">
  .box{
    margin-left: 4rem;
    margin-top: 7rem;
  }
</style>
{% endblock %}





{% block body %}
<div class="container-fluid">
  <div class="row box">
    <div class="col col-sm-6">
      <h1>settings</h1>
      <p>{{ current_user.email }}</p>
      {% if current_user.username %}
         <p>用户名: {{ current_user.username }}</p>
      {% else %}
         <p>you are not choose a username yet</p> <a href="{{ url_for('user.welcome') }}">go choose one</a>
      {% endif %}
       <a href="{{ url_for('user.update_email') }}">更改绑定邮箱</a>
      <br>
      <a href="{{ url_for('user.update_pwd') }}">更改密码</a>
      <br>
      <p>此次于{{ current_user.current_login_time }} 登录，IP为：{{ current_user.current_login_ip }}</p>
      <p>上次登录：{{ current_user.last_login_time }}</p>
      <p>上次登录ip: {{ current_user.last_login_ip }}</p>
      <p>注册时间为： {{ moment(current_user.ct).format('LLL') }}  </p>
      <p>最近在线为：{{ moment(current_user.latest_online).fromNow() }}</p>
    </div>
    <div class="col col-sm-6">
      <h1>Other</h1>
      <p>还没想好怎么布局</p>
    </div>
  </div>
</div>

{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.locale('zh-cn') }}　

{% endblock %}
