.question{
  border: 1px #ccc solid;
  padding: 100px;
}


.buttonGroup button{
  padding: 8px 16px;
  margin-left:  30px;
  border: none;
  color: white;
  cursor: pointer;

}

.buttonGroup button:first-child:hover,
.buttonGroup button:first-child:active{
  background: green;

}
